@charset "UTF-8";

@import url("https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css");
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&subset=latin-ext');

body {
	padding: 0px;
	margin: 0px;
	/*background-color: #edc8ff;*/
}

video {
	width: 100%; position : fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
	position: fixed;
}

div {
	padding: 20px;
}

#container {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-areas: "header header header" "article article article"
		"footer footer footer";
	grid-template-rows: 50px 1fr 110px;
	grid-template-columns: 15% 1fr 15%;
	grid-gap: 10px;
	margin: 0px;
	padding: 0px;
}

#pageHeader {
	padding-top: 0px;
	grid-area: header;
	position: sticky;
	top: 0; /* 헤더를 화면 상단에 고정시킴 */
	z-index: 1; /* 다른 콘텐츠보다 앞에 표시하도록 설정 */
	background-color: rgba(255, 255, 255, 0); /* 헤더 색상 투명하게 */
	padding: 0px;
}

#pageFooter {
	grid-area: footer;
	background-color: #c0c0c0;
	color: white;
}

#mainNav {
	grid-area: nav;
}

#mainArticle {
	grid-area: article;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px; /* 원하는 상단 마진 설정 */
	margin-bottom: 0px; /* 원하는 하단 마진 설정 */
}

a {
	text-decoration: none;
	color: black;
}

li {
	list-style-type: none;
}

.hbody {
	width: 100%;
	height: 50px;
	display: flex;
	color: white;
	align-items: center;
	background-color: white;
	justify-content: center;
}

@media screen and (min-width: 625px) {
	#menu {
		display: flex;
		justify-content: space-around;
		gap: 10px;
	}
	#menu>li {
		font-size: 15px;
		color: black;
	}
	.menu_item1 {
		width: 100px;
		text-align: center;
	}
	.menu_item_space {
		width: 50px;
	}
	.menu_item2 {
		width: 100px;
		text-align: right;
	}
}

@media screen and (max-width: 625px) {
	.nav {
		padding: 30px 40px;
	}
	#menu {
		display: none;
	}
}

p {
	margin: 0px;
}


.content_p{
	margin-bottom: 10px;
	padding: 0px;
}

.title-li {
  position: relative;
}

.hidden-div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  display: none; /* 초기에는 div를 숨김 */
}

.title-li:hover .hidden-div {
	
  display: block; /* hover 시 div를 보이도록 함 */
}







/* ----------------------yj------------------------ */

/* 버튼 */
.custom-btn {
	font-size: 10px;
  zoom: 1.2;
  width: 61px;
  height: 20px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-1 {
  background: rgb(141, 141, 148);
  background: linear-gradient(0deg, rgba(141, 141, 148) 0%, rgba(141, 141, 148) 100%);
  border: none;
  padding: 0px;
  text-align: center;
}
.btn-1:hover {
   background: rgb(141, 141, 148);
	background: linear-gradient(0deg, rgba(223 214 255) 0%, rgba(141, 141, 148) 100%);
}


/* 버튼2 */
.custom-btn2 {
	font-size: 10px;
  zoom: 1.5;
  width: 46px;
  height: 19px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-2 {
  background: rgb(141, 141, 148);
  background: linear-gradient(0deg, rgba(141, 141, 148) 0%, rgba(141, 141, 148) 100%);
  border: none;
  padding: 0px;
  text-align: center;
}
.btn-2:hover {
   background: rgb(141, 141, 148);
	background: linear-gradient(0deg, rgba(223 214 255) 0%, rgba(141, 141, 148) 100%);
}
